.myBG {
  height: 130vh;
  background: url("../assets/images/bg/main.jpg");
  background-size: cover;
}

.intro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  /* margin-bottom: 1rem; */
  line-height: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
}

.trending {
  height: auto;
  background: url("../assets/images/bg/scifi.jpg");
  background-size: cover;
}

.superhero {
  height: auto;
  background: url("../assets/images/bg/spiderman.jpg");
  background-size: cover;
}

.movieWrapper {
}

.movieImage {
  height: auto;
  background-color: black;
  margin: 5px;
  padding: 5px;
}

.images {
  height: 500px;
}
